* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.layout {
    display: flex;
    min-height: 100vh;
}


.sidebar {
    width: 240px;
    background: linear-gradient(180deg, #0f172a, #0a0f1f);
    color: white;
    padding: 25px;
}

.brand {
    margin-bottom: 40px;
    font-size: 20px;
}

.menu {
    list-style: none;
}

.menu li {
    margin: 18px 0;
    cursor: pointer;
    transition: 0.3s;
}

.menu li:hover {
    color: #3b82f6;
}


.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #e5e7eb;
}


.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e293b;
    padding: 12px 25px;
    color: white;
}

.search-box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-box input {
    width: 60%;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
}

.admin {
    font-size: 14px;
}


.content {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.cards {
    display: flex;
    gap: 25px;
}

.card {
    flex: 1;
    background: #f3f4f6;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
}

.card h4 {
    margin-bottom: 8px;
    font-weight: normal;
}

.card p {
    font-weight: bold;
}

.bottom-cards {
    display: flex;
    gap: 25px;
}

.big-card {
    flex: 1;
    background: linear-gradient(90deg, #2563eb, #1d4ed8);
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}